$("#new_comment").append('<br> <%= @comment.id %> : <%= @comment.content%>');
// $("#new_comment_box").append('<li>
//           <% if @comment.user_id %>
//           <%= link_to(User.find(@comment.user_id).name, User.find(@comment.user_id))%> 
//           <% else %>
//           Anonymous
//           <% end %>
//           <br> 
//           <%= @comment.content%> 
//           </li>');
