<h1>Editing Movie</h1>

<%= render 'form' %>

<div class="row">
        <div class="col-sm-2">
          <%= button_tag('Update', class: "btn btn-primary") %>
        </div>
      </div>
      
<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>
