var count = $("#category-selected a").length;
var url = "<%= category_path @category %>";
console.log(url);
$("#category-selected").append('#<a href="'+ url +'" name="movie[categories]['+ count +']">'+ "<%= @category.name%>"+'</a>');
$('<input>').attr('type', 'hidden').attr('name', 'movie[category_ids][]').attr('value', "<%= @category.id%>").appendTo('form');