var count = $("#category-selected a").length;
var url = "<%= category_path @category %>";
console.log(url);
$("#category-selected").append('[<a href="'+ url +'" name="movie[categories]'+ count +']">#'+ "<%= @category.name%>"+'</a>');
$('<input>').attr('type', 'hidden').attr('name', 'movie[categories]['+ count +']').attr('value', "<%= @category.name%>").appendTo('form');