<%= form_tag searches_path, :method => 'get', :id => "search-form", :class => "form-inline" do |f| %>
  <%= select_tag 'option', options_for_select([["Movie", 2],["Actor", 3] , ["Genre", 4, class: "advancedSearch"]], ["Movie", 2]) , class: "form-control" %>
  <p>
    <%= text_field_tag :q, params[:q], :id =>"search-box", :autocomplete => :off, class: "form-control" %>
    <%= button_tag "Search", :name => nil, class: "btn btn-theme" %>
  </p>
<% end %>
<div id="result-box" style="display: none; margin-top: -3px; max-height: 300px; overflow-y: auto; overflow-x: hidden;">
</div>